{:source-paths ["../../bases/server/src"]
 :dependencies [[applied-science/js-interop "0.2.7"]
                [funcool/promesa "6.0.2"]
                [reagent "1.2.0"]]
 :builds {:server {:target :node-script
                   :output-to "devserver.js"
                   :main app.server.core/main!
                   :release {:output-to "build/server.js"}}}}